.app-footer {
  font-size: 14px;
  letter-spacing: 1.35px;
  color: #5e5e5e;
  height: 30px;
  line-height: 30px;
  padding-bottom: 10px;
  background-color: transparent;
}

.text-center {
  width: 100% !important;
  text-align: center !important;
}
