$margin: 2rem;
$cell-gap: 1rem;

table{
  thead {
    tr {
      height: 3rem;

      th {
        color: black;
        letter-spacing: 0.5px;
        font-size: 12px;
        line-height: 24px;
        font-weight: 700;
        padding-left: $margin !important;
        padding-right: $margin !important;
      }
    }
  }

  tbody {
    tr {
      &:nth-child(2n) {
        background-color: rgba(0,0,0,.05);
      }

      td {
        border: 0;
        color: black;
        font-size: 12px;
        letter-spacing: 0.5px;
        vertical-align: middle;
        padding-left: $margin !important;
        padding-right: $margin !important;

        .column-title {
          display: none;
        }

        i {
          justify-content: flex-start !important;
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .table  {
    thead {
      display: none !important;
      position: absolute;
    }
    tbody > tr > td {
      text-align: left;
      display: block;
      width: 100%;
      float: left;
      clear: left;
      border: 0 none ;
      text-overflow: ellipsis;
      
      .column-title {
        padding: 0.4rem;
        min-width: 30%;
        display: inline-block;
        margin: -0.4em 1em -0.4em -0.4rem;
        font-weight: bold;
        align-self: center;
      }
      &:last-child {
        border-bottom: 1px solid black;
      }
    }
  }
  .flex{
    display: flex !important;
  }
}